* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;  
}

.container {
    width: 800px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/background_pattern.png);
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 600px;
    background-color: rgb(9, 8, 15);
    border: 2px solid rgb(71, 71, 71);
    box-shadow: 0 0 20px 5px rgb(0, 89, 255);
    border-radius: 10px;
}

.text-window {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 300px;
    height: 140px;
    border: 2px solid rgb(119, 119, 119);
    background-color: rgb(31, 24, 63);
    border-radius: 10px;
    margin: 25px auto;
}

.prev-op,
.new-op{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aquamarine;
    margin: 8px;
}

.prev-op {
    font-size: 20px;
}

.new-op {
    font-size: 24px;
}

.buttons {
    display: flex;
    width: 300px;
    height: 400px;
    margin: 0px 25px 25px;
    gap: 8px;
}

.btn {
    /* background-color: gray; */
    background: linear-gradient(to bottom, rgb(142, 122, 255), rgb(17, 0, 39));
    color: aquamarine;
    width: 69px;
    height: 60px;
    border-radius: 8px;
    font-size: 24px;
    transition: all;
    transition-duration: 0.2s;
}

.btn:hover {
    scale: 1.1;
}

.btn-group-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    gap: 8px;
}

.btn-group-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.zero {
    width: 145px;
}

.equals {
    height: 128px;
    background: linear-gradient(to bottom, rgb(0, 255, 221), rgb(6, 0, 37));
}

.num:hover,
.decimal:hover {
    box-shadow: 0 0 5px 1px rgb(0, 238, 255);
}

.equals:hover {
    box-shadow: 0 0 5px 1px rgb(0, 238, 255);
}

.op {
    background: linear-gradient(to bottom, rgb(204, 0, 255), rgb(31, 0, 37));
    color: rgb(250, 200, 255);
}

.op:hover {
    box-shadow: 0 0 5px 1px rgb(255, 0, 234);
}

.func {
    background: linear-gradient(to bottom, rgb(255, 102, 0), rgb(37, 17, 0));
    color: rgb(255, 222, 160);
}

.func:hover {
    box-shadow: 0 0 5px 1px rgb(255, 187, 0);
}

